@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.checkbox-transport {
    margin: 0;
    padding: 0;
    list-style-type: none;

    min-width: 384px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    min-height: 94px;
    border: 1px solid $color-link-water;
    border-radius: 10px;
    background-color: transparent;

    @include vp-1023 {
        min-width: 308px;
    }

    @include vp-767 {
        min-width: 100%;
        width: 100%;
        min-height: 63px;
    }

    &__label {
        cursor: pointer;

        input {
            display: none;
        }
    
        input:checked ~ span {
            svg {
                color: rgba($color-catalina-blue, 1);
            }
        }
    
        &:hover,
        &:focus {
            input ~ span {
                box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);
    
                svg {
                    color: rgba($color-pink-swan, 1);
                }
            }
    
            input:checked ~ span {
                box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);
    
                svg {
                    color: rgba($color-catalina-blue, 0.7);
                }
            }
        }
    
        &:active {
            input ~ span {
                background-color: $color-lavender;
                box-shadow: none;
    
                svg {
                    color: rgba($color-catalina-blue, 0.1);
                }
            }
    
            input:checked ~ span {
                background-color: $color-lavender;
                box-shadow: none;
    
                svg {
                    color: rgba($color-catalina-blue, 0.3);
                }
            }
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 43px;
        height: 45px;
        border-radius: 50%;
        background-color: $color-default-white;
    
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
        svg {
            color: rgba($color-catalina-blue, 0.15);
            position: relative;
            z-index: 3;
    
            transition: color 0.3s ease-in-out;
        }
    
        @include vp-1023 {
            width: 44px;
            height: 44px;
        }
    
        @include vp-767 {
            width: 32px;
            height: 32px;
    
            svg {
                width: 18px;
                height: 17px;
            }
        }
    }
}
