@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.catalog {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 15px;

        @include vp-1023 {
            flex-direction: column;
            gap: 41px;
        }

        @include vp-767 {
            gap: 28px;
        }
    }

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
        gap: 62px;

        @include vp-1023 {
            gap: 48px;
        }

        @include vp-767 {
            gap: 20px;
        }
    }

    &__show-more {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 0 9px;

        transform: translate(-23px, -1px);

        @include vp-1023 {
            transform: translate(10px, 0);
            margin: 0;
        }

        @include vp-767 {
            transform: translate(5px, 2px);
            margin: 0;
        }
    }
}