@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.card-profile {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;

    display: grid;
    grid-template-columns: minmax(200px, 285px) 55px auto 53px auto auto 103px;
    gap: 20px 0;
    // justify-content: space-between;

    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    @include vp-1023 {
        grid-template-columns: minmax(190px, 190px) auto auto auto 62px;

        padding: 35px 25px 25px 35px;
    }

    @include vp-767 {
        grid-template-columns: minmax(70px, 70px) auto auto;
        gap: 13px 16px;

        padding: 15px 20px 24px;
    }

    &:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }

    // картинка
    &__figure {
        grid-row: 1/4;
        grid-column: 1/2;

        @include vp-1023 {
            grid-row: 1/4;
            grid-column: 1/2; 
        }

        @include vp-767 {
            grid-row: 1/3;
            grid-column: 1/2; 
        }
    }

    &__image {
        overflow: hidden;
        border-radius: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        @include vp-1023 {
            border-radius: 20px;
        }

        @include vp-767 {
            border-radius: 50%;
        }
    }

    // имя
    &__name {
        grid-row: 1/2;
        grid-column: span 3;

        max-width: 255px;
        margin: 0;
        padding: 46px 0 0;

        font-weight: 700;
        font-size: 30px;
        line-height: 1;
        color: #1D2E5B;

        @include vp-1023 {
            grid-row: 1/2;
            grid-column: 2/4;

            padding: 0;
        }

        @include vp-767 {
            grid-row: 1/2;
            grid-column: 2/3; 

            font-size: 20px;
        }
    }

    // статус онлайн-офлайн
    &__state-wrapper {
        grid-row: 1/4;
        grid-column: 2/3;

        margin: 57px 11px 0 36px;

        display: flex;

        @include vp-1023 {
            grid-row: 1/2;
            grid-column: 4/5;

            margin: 0;
        }

        @include vp-767 {
            grid-row: 1/2;
            grid-column: 3/4; 

            margin: 8px 0 0;
            justify-content: flex-end;
        }
    }

    &__state {
        width: 8px;
        height: 8px;
        background-color: #F97676;
        border-radius: 50%;

        &--offline {
            background-color: #F97676; 
        }

        &--online {
            background-color: #81E31E; 
        }
    }

    // хештеги
    &__hashtags {
        grid-row: 2/3;
        grid-column: span 3;

        max-width: 255px;

        margin: 0;
        padding: 0;

        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        color: #000;

        @include vp-1023 {
            grid-row: 2/3;
            grid-column: 2/5; 

            max-width: unset;
        }

        @include vp-767 {
            grid-row: 3/4;
            grid-column: 1/4; 

            font-size: 15px;
            line-height: 120%;
        }
    }

    // кнока позвать
    &__btn-call-wrapper {
        // display: flex;        
        margin-bottom: 48px;
        margin-right: 3px;

        @include vp-1023 {
            grid-row: 3/4;
            grid-column: 2/3; 

            margin: 0;
            max-width: 170px;
        }

        @include vp-767 {
            grid-row: 6/7;
            grid-column: 1/4; 

            width: 100%;
            max-width: 100%;
        }
    }

    &__btn-call {
        padding: 15px 24px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: #161C35;

        border-radius: 25px;
        border: none;
        background-color: #A8D2F4;

        cursor: pointer;
        user-select: none;

        &:hover,
        &:focus {
            background-color: #4D99D6;
        }

        &:active {
            color: rgba(#161C35, 0.3);
        }

        @include vp-1023 {
            padding: 15px 34px;
        }

        @include vp-767 {
            font-size: 17px;
            line-height: 100%;

            width: 100%;
        }
    }

    // кнопка лайк и кол-во лайков
    &__likes-number-wrapper {
        margin-bottom: 48px;
        display: flex;
        align-items: center;

        @include vp-1023 {
            grid-row: 3/4;
            grid-column: 4/5;

            margin: 0;
        }

        @include vp-767 {
            grid-row: 2/3;
            grid-column: 2/3;

            align-items: flex-start;
        }
    }

    &__likes-number {
        flex-shrink: 1;

        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: #161C35;

        @include vp-767 {
            font-size: 14px;
            line-height: 114%;
        }
    }

    &__btn-like {
        margin-right: 3px;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #E2E5F2;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        @include vp-1023 {
            grid-row: 3/4;
            grid-column: 3/4; 

            width: 56px;
            margin: 0;
        }

        @include vp-767 {
            width: 30px;
            height: 30px;

            grid-row: 2/3;
            grid-column: 2/3; 

            transform: translate(-40px, 4px);
        }

        svg {
            width: 20px;
            height: 20px;
            color: #192144;

            @include vp-767 {
                width: 12px;
                height: 12px;
            }
        }
    }

    // транспорт
    &__transport {
        @include vp-1023 {
            grid-row: 1/3;
            grid-column: 5/6;
        }

        @include vp-767 {
            grid-row: 5/6;
            grid-column: 1/3;

            display: flex;
            flex-direction: column;
        }

        & > span {
            display: none;

            @include vp-767 {
                display: block;

                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            }         
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 11px;

            margin: 0;
            padding: 0;
            list-style-type: none;

            @include vp-1023 {
                flex-direction: column;
                align-items: flex-start;
                gap: 9px;
            }

            @include vp-767 {
                flex-direction: row;

                gap: 1px;
            }
        }
        
        li {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                opacity: 0.15;
            }

            @include vp-767 {
                width: 32px;
                height: 32px;

                position: relative;

                &::before{
                    position: absolute;
                    content: "";
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #EDEFF6;
                }

                svg {
                    height: 17px;
                }
            }
        }
    }
    
    // уровень
    &__level {
        margin-right: 43px;

        @include vp-1023 {
            grid-row: 3/4;
            grid-column: 5/6;

            margin: 0;
        }

        @include vp-767 {
            grid-row: 5/6;
            grid-column: 3/4;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        & > span {
            display: none;

            @include vp-767 {
                display: block;

                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            }         
        }
    }

    // хочет посетить - страны
    &__country {
        grid-row: 1/3;
        grid-column: span 2;

        margin-right: 43px;
        padding: 46px 0 0;

        & > span {
            display: none;

            @include vp-1023 {
                display: block;

                font-weight: 400;
                font-size: 15px;
                line-height: 107%;
            }

            @include vp-767 {
                font-size: 14px;
                line-height: 114%;
            }            
        }

        @include vp-1023 {
            grid-row: 4/5;
            grid-column: 1/6;

            margin: 0;
            padding: 0;
        }

        @include vp-767 {
            grid-row: 4/5;
            grid-column: 1/4;
        }
    }

    &__country-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 12px;

        @include vp-1023 {
            flex-direction: row;
        }

        @include vp-767 {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__country-item {
        display: flex;
        align-items: flex-end;
        gap: 18px;

        @include vp-767 {
            gap: 14px;
        }
    }

    &__country-flag {
        width: 35px;
        height: 24px;
        border-radius: 2px;
        background-color: #a53131;
    }

    &__country-name {
        margin: 0;
        padding: 0;

        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: #1D2E5B;

        @include vp-767 {
            font-size: 15px;
            line-height: 107%;
        }
    }
}
