@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.country-sorting {
  padding: 0 35px 0;

  @include vp-1023 {
    padding: 7px 73px 59px;
  }

  // десктоп
  .country-sorting__desktop {
    display: grid;
    gap: 20px 0;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

    margin: 0 0 50px;

    .country-sorting__letter-title {
      margin: 0 0 30px;
      padding: 0 2px;

      font-weight: 700;
      font-size: 60px;
      line-height: 1;
      text-transform: uppercase;
      color: #192144;
    }

    .country-sorting__group {
      margin-bottom: 20px;
    }

    .country-sorting__counties-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .country-sorting__counties-item {
      margin: 0;
      padding: 0;

      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      color: #444444;
    }
  }

  // планшет и мобилка
  @include vp-1023 {
    .country-sorting__tablet {
      .country-sorting__inner-wrapper {
        display: grid;
        grid-template-columns: 350px 1fr;
        gap: 95px;
      }

      .country-sorting__letters-list {
        margin: 0;
        padding: 0;
        list-style: none;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
        gap: 24px 38px;
      }

      .country-sorting__letter-button {
        margin: 0;
        padding: 0;

        font-weight: 700;
        font-size: 60px;
        line-height: 1;
        text-transform: uppercase;
        color: rgba(#192144, 0.3);

        background-color: transparent;
        cursor: pointer;
        border: none;

        &.active {
          color: rgba(#192144, 1);
        }
      }

      .country-sorting__counties-list {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .country-sorting__counties-item {
        margin: 0;
        padding: 0;

        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #444444;
      }
    }
  }
}
