@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";


.pagination {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 20px;
    margin-bottom: 62px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-767 {
        padding: 0;
    }

    &__page-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        display: flex;

        @include vp-767 {
            display: none;
        }
    }

    &__page-item {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;

        cursor: pointer;
        user-select: none;

        span {
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            text-transform: uppercase;
            color: #1D2E5B;
        }

        &:hover {
            opacity: 0.6;
        }

        &.active,
        &:active {
            background-color: #4D99D6;
            opacity: 1;
        }
    }

    &__arrows {
        display: flex;
        gap: 29px;

        @include vp-767 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
        }
    }

    &__arrow {
        padding: 0;
        width: 13px;
        height: 20px;
        background-color: transparent;
        border: none;

        user-select: none;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        @include vp-767 {
            width: unset;
            height: 51px;
        }

        // &--prev {

        // }

        &--next {
            @include vp-767 {
                border-left: 1px solid #EDEFF6;
            }
        }
    }
}
