.plan {
  background-color: #AED0EB;
  border-radius: 30px 30px 0 0;
  padding-top: 55px;
  padding-bottom: 72px;

  h2 {
    margin: 0;
    margin-bottom: 54px;
    color: #1D2E5B;
    font-size: 36px;
    line-height: 36px;
  }
}
