@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.level {
  &__progress {
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;

    @include vp-767 {
      width: 45px;
      height: 45px;
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    b {
      padding: 0 4px;
      color: $color-catalina-blue;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-default-black;
        opacity: 0.1;
        bottom: 0;
        left: 0;
        right: 0;

        @include vp-767 {
          content: none;
        }
      }

      @include vp-767 {
        padding: 0;
      }
    }

    span {
      margin-top: 2px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-default-black;
      opacity: 0.4;

      @include vp-767 {
        display: none;
      }
    }
  }

  svg {
    position: relative;
    width: 62px;
    height: 62px;
    transform: rotate(-85deg);

    @include vp-767 {
      width: 45px;
      height: 45px;
    }

    circle {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: transparent;
      stroke-width: 3;
      stroke-linecap: round;
      transform: translate(1.5px, 1.5px);

      &:nth-child(2) {
        stroke-dasharray: 180;
      }

      @include vp-767 {
        x: 20px;
        y: 20px;
        r: 20px;
        transform: translate(-6px, -6px);

        &:nth-child(2) {
          stroke-dasharray: 125;
        }
      }
    }
  }
}
