.entertainment {
  background-color: $color-default-white;
  border-radius: 60px;
  padding: 101px 152px 102px 159px;

  @include vp-1439 {
    padding: 48px 40px 52px;
    border-radius: 30px;
  }

  @include vp-767 {
    padding: 24px 25px 8px;
    border-radius: 10px;
  }

  .entertainment-header {
    display: grid;
    grid-template-columns: 660px 1fr;
    grid-template-rows: auto;
    column-gap: 170px;
    margin-bottom: 70px;
    border-bottom: 1px solid #E1E3E9;
    padding-bottom: 55px;

    @include vp-1439 {
      display: flex;
      padding-bottom: 8px;
      margin-bottom: 31px;
    }

    @include vp-767 {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 13px;
    }

    h3 {
      margin: 0;
      margin-bottom: 33px;
      color: #1D2E5B;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;

      @include vp-1439 {
        margin-bottom: 35px;
        width: 200px;
      }

      @include vp-767 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 16px;
        width: 180px;
      }
    }

    p {
      margin: 0;
      font-size: 20px;
      line-height: 24px;

      @include vp-767 {
        font-size: 15px;
        line-height: 22px;
      }
    }

    li:nth-child(3) {
      span {
        opacity: 1;
      }
    }

    li:nth-child(3):before {
      opacity: 1;
    }
  }

  .entertainment-body {
    display: grid;
    grid-template-columns: 1fr 130px;
    column-gap: 30px;

    @include vp-1439 {
      column-gap: 0;
      grid-template-columns: 1fr;
    }

    .group-country {
      display: flex;
      flex-direction: column;
      row-gap: 210px;

      @include vp-1439 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: self-end;
        margin-right: 38px;
      }

      @include vp-767 {
        row-gap: 257px;
        margin-right: 0;
      }
    }
  }

  .entertainment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 58px;
    row-gap: 40px;

    @include vp-1439 {
      margin-bottom: 50px;
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: self-start;
      row-gap: 48px;
    }

    @include vp-767 {
      margin-bottom: 22px;
      row-gap: 18px;
      position: relative;
    }

    .form-group {
      row-gap: 26px;
      display: grid;
      grid-template-columns: 772px 130px;
      column-gap: 44px;

      @include vp-1439 {
        grid-template-columns: 1fr 0;
        column-gap: 34px;
      }

      @include vp-767 {
        row-gap: 14px;
        position: relative;
        column-gap: 0;

        &:nth-child(1n)::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          top: 15px;
          left: -3px;
          background-color: #1D2E5B;
          border-radius: 50%;
        }

        &:not(:first-child)::after {
          position: absolute;
          content: "";
          background-color: #1D2E5B;
          width: 2px;
          height: 282px;
          top: -264px;
          left: -14px;
        }
      }

      &:nth-child(1n) div::before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        top: 16px;
        left: -48px;
        background-color: #1D2E5B;
        border-radius: 50%;

        @include vp-1439 {
          top: 15px;
          left: 89px;
        }

        @include vp-767 {
          display: none;
        }
      }

      &:not(:first-child) div::after {
        position: absolute;
        content: "";
        height: 260px;
        width: 2px;
        top: -240px;
        left: -41px;
        background-color: #1D2E5B;

        @include vp-1439 {
          top: -240px;
          height: 258px;
          left: 95px;
        }

        @include vp-767 {
          display: none;
        }
      }

      label {
        font-weight: 600;
        font-size: 30px;
        color: #1D2E5B;
        position: relative;
        width: 90%;
        margin-top: 9px;

        @include vp-1439 {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        @include vp-767 {
          margin-left: 10px;
          font-size: 18px;
          line-height: 18px;

          &:before {
            position: absolute;
            content: "";
            width: 14px;
            height: 2px;
            background-color: #1D2E5B;
            top: 8px;
            left: -23px;
          }
        }
      }

      div:nth-child(1n) {
        width: 70px;
        height: 47px;
        background-color: #b6b9c0;
        border-radius: 3px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include vp-1439 {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          justify-self: end;
        }

        @include vp-767 {
          height: 24px;
          width: 35px;
          margin-top: 5px;
        }
      }

      textarea {
        max-width: 730px;
        width: 100%;
        outline: none;
        padding: 25px;
        border-radius: 4px;
        border: none;
        border: 1px solid #CBCED9;
        font-size: 20px;

        &:hover {
          border-color: #959BB2;
        }

        &:active {
          border-color: #1d2429;
        }

        &.active-placeholder::placeholder {
          color: #444444;
        }

        @include vp-1439 {
          max-width: 900px;
          padding: 18px;
          min-height: 140px;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }

        @include vp-767 {
          min-height: 220px;
          width: 1fr;
          padding-top: 8px;
          padding-left: 14px;
        }

        &::placeholder {
          font-size: 20px;
          font-weight: 400;
          opacity: 30%;
          line-height: 20px;

          @include vp-1439 {
            text-align: start;
          }

          @include vp-767 {
            font-size: 16px;
            line-height: 22px;
            width: 100px;
          }
        }
      }
    }
  }

  .group-btn {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: 20px;

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      row-gap: 0;
    }

    .entertainment-btn {
      display: flex;
      align-items: center;
      padding: 29px 34px;
      justify-content: space-between;
      background-color: #A8D2F4;
      border-radius: 20px;
      width: 286px;
      border: none;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      cursor: pointer;

      @include vp-767 {
        border-radius: 30px;
        padding: 9px 33px 1px;
        justify-content: center;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        width: 100%;

        svg {
          display: none;
        }
      }


      @include hover-focus {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            background-color: #4D99D6;
          }
        }
      }

      &:active {
        background-color: #4D99D6;

        span {
          opacity: 30%;
        }

        svg {
          opacity: 30%;
        }
      }

      span {
        font-size: 24px;
        font-weight: 700;
        color: #1D2E5B;
        line-height: 24px;
        max-width: 190px;

        @include vp-767 {
          display: flex;
          font-size: 17px;
          line-height: 30px;
        }
      }
    }

    .btn-back {
      background-color: $color-default-white;
      width: 236px;
      padding: 29px 26px;

      span {
        max-width: 160px;
      }

      @include vp-1439 {
        width: 249px;
        padding: 25px 18px 17px 46px;
      }

      @include vp-767 {
        width: 100%;
        padding: 13px 29px 1px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
      }

      @include hover-focus {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            background-color: $color-default-white;

            span {
              opacity: 70%;
            }

            svg {
              opacity: 70%;
            }
          }
        }
      }

      &:active {
        span {
          opacity: 30%;
        }

        svg {
          opacity: 30%;
        }
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.form-error {
  color: red;
  display: none;
}

.form-error.active {
  display: block;
}






