@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";
  
.country-continent-sorting {
  padding-top: 61px;
  padding-bottom: 102px;

  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding: 0;

    margin: -120px 0 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      background-color: #E2E5F2;
      border-radius: 0 0 60px 60px;
    }
  }

  &__toggle-button-wrapper {
    order: 3;

    margin: 0 0 50px;

    @include vp-1023 {
      margin: 0 0 79px;
      padding: 0 76px;
    }
  }

  &__toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 0 auto;
    padding: 40px 25px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #192144;

    background-color: #D6DAED;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    user-select: none;

    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;

    @include vp-1023 {
      padding: 42px 25px 38px;
    }

    &:hover,
    &:focus {
      background-color: #C8CEE8;
    }

    &:active {
      background-color: #C8CEE8;
      color: rgba(#192144, 0.3);

      span {
        opacity: 0.3;
      }
    }
  }

  &__toggle-button-icon {
    position: relative;
    width: 22px;
    height: 20px;
    padding: 0 14px;

    transform: translate(-13px, 8px);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;

    &.close {
      &::before {
        position: absolute;
        content: "";
        width: 26px;
        height: 3px;
        border-radius: 2px;
        background-color: #192144;
        top: 0;
        left: 0;

        transform: rotate(45deg);
      }
      
      &::after {
        position: absolute;
        content: "";
        width: 26px;
        height: 3px;
        border-radius: 2px;
        background-color: #192144;
        top: 0;
        left: 0;

        transform: rotate(-45deg);
      }

    }

    &.open {

    }

    @include vp-1023 {
      padding: 0 18px;
      transform: translate(-5px, 7px);
    }
  }
}
