@import "../../../../global/reboot.scss";
@import "../../../../global/utils.scss";
@import "../../../../variables.scss";

.btn-show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    background-color: transparent;
    border: none;

    cursor: pointer;
    user-select: none;

    svg {
        width: 26px;
        height: 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.3s ease-in-out;
    }

    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: #1D2E5B;
    }

    &:hover,
    &:focus {
        svg {
            opacity: 0.6;
        }
    }

    &:active {
        svg {
            opacity: 0.3;
        }
    }
}