@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.header {
  background: $color-midnight-express;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  min-height: 150px;

  @include vp-1439 {
    display: flex;
    justify-content: space-between;
  }

  @include vp-767 {
    min-height: 55px;
  }
}

.header__link {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__logo {
  position: relative;
  padding-right: 13px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr 221px;
  align-items: center;

  @include vp-1439 {
    display: flex;
    border: none;
  }
}

.header__logo-img {
  svg {
    width: 200px;
    height: 50px;

    transform: translate(-6px, 0);

    @include vp-1023 {
      width: 158px;
      height: 42px;

      transform: translate(0, -6px);
    }
  }

  @include vp-767 {
    display: none;
  }
}

.header__logo-text {
  position: absolute;
  top: 13px;
  right: 0;

  svg {
    width: 129px;
    height: 20px;

    transform: translate(-13px, 0);

    @include vp-1023 {
      width: 107px;
      height: 17px;

      transform: translate(-5px, -7px);
    }
  }

  svg path {
    fill: $color-default-white;
  }

  @include vp-767 {
    position: relative;
    top: 0;

    svg {
      width: 96px;
      height: 15px;

      transform: translate(2px, 2px);
    }
  }
}

.header__nav {
  padding-top: 6px;
  padding-left: 132px;

  @include vp-1023 {
    display: none;
    padding-top: 0;
  }
}

.header__nav-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.header__nav-list::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: $color-default-white;
  left: -105px;
  top: 10px;
}

.header__nav-item a {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $color-default-white;
  transition: opacity $trans-default, color $trans-default, background-color $trans-default;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        color: $color-jordy-blue;
      }
    }
  }

  &:active {
    color: $color-picton-blue;
    opacity: 30%;
  }
}

.header__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 7px;

  @include vp-1439 {
    display: none;
  }
}

.header__contacts-item a {
  @include vp-1440 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-jordy-blue;
    transition: opacity $trans-default, color $trans-default, background-color $trans-default;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-picton-blue;
        }
      }
    }

    svg path {
      fill: $color-midnight-express;
    }

    &:active {
      svg {
        opacity: 30%;
      }
    }
  }
}

.header__burger-button {
  display: none;

  @include vp-1439 {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @include vp-767 {
    transform: translate(6px, 3px);
  }
}

.header__burger-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 48px;
  background-color: $color-default-white;
  top: 150px;
  left: 0;
}

.header__button-close {
  display: none;
}

.header__container--opend {
  background-color: $color-default-white;
  padding: 0 40px;
  width: 100%;
  z-index: 100;

  .header__button-close {
    display: block;
  }

  .header__button-open {
    display: none;
  }

  .header__logo-text {
    svg path {
      fill: $color-default-black;
    }

    @include vp-767 {
      svg {
        transform: translate(-13px, 2px);
      }
    }
  }

  .header__nav,
  .header__contacts-list {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-left: 0;
    margin-right: auto;
  }

  .header__contacts-list {
    margin-top: 150px;
    margin-bottom: 22px;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 0;
  }

  .header__nav-list::before {
    width: 0;
    height: 0;
  }

  .header__contacts-item svg {
    fill: $color-jordy-blue;
  }

  .header__contacts-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-midnight-express-2;

    svg path {
      fill: $color-jordy-blue;
    }
  }

  .header__contacts-item {
    display: flex;
    align-items: center;
    gap: 16px;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          a {
            color: $color-jordy-blue;
          }

          p {
            background-color: $color-jordy-blue
          }

          svg path {
            fill: $color-midnight-express-2;
          }
        }
      }
    }

    &:active {
      a {
        opacity: 70%;
      }

      svg {
        opacity: 30%;
      }
    }
  }

  .header__nav-item a {
    font-size: 30px;
    line-height: 43px;
    color: $color-midnight-express;
  }

  .header__contacts-item a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $color-midnight-express;
  }
}

.header__social-list {
  display: flex;
  justify-self: center;
  width: 186px;
  justify-content: space-between;

  @include vp-767 {
    width: 135px;
  }

  a {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    margin-left: auto;
    align-items: center;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: #4D99D6;
        }
      }
    }

    &:active {
      background-color: #4D99D6;

      svg {
        opacity: 30%;
      }
    }

    @include vp-767 {
      width: 45px;
      height: 45px;
    }
  }

  svg {
    color: $color-default-black;
  }
}

.header__nav-item {
  overflow: hidden;
}

.header__nav-link-text {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    content: attr(data-hover);
    top: 100%;
    width: calc(100% + 1px);
    font-weight: 700;
    transform: translate3d(0, 0, 0);
    
  }

  &:hover {
    color: #7ebaeb;
    transform: translateY(-100%);

    @include vp-1023 {
      transform: none;
    }
  }

}

