@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.filters__slider {
  .track {
    background: $color-catalina-blue;
    height: 3px;
    opacity: 0.2;
  }

  .track:nth-child(2n) {
    opacity: 1;
  }

  .slider__holder {
    width: 100%;

    @include vp-1023 {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 58px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 30px;
    }
  }

  .slider {
    margin-bottom: 39px;

    @include vp-1023 {
      width: 100%;
      margin: 0;

      transform: translate(0, -5px);
    }
  }

  .slider__range {
    position: relative;
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    width: 100%;
    background-color: $color-default-white;
    margin-bottom: 36px;

    @include vp-1023 {
      width: 290px;
      margin: 0;

      transform: translate(0, -2px);
    }

    @include vp-767 {
      width: 100%;
      transform: translate(0, 0);
    }

    input {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      width: 100%;
      flex-shrink: 1;
      font-size: 20px;
      font-weight: 500;
      color: $color-catalina-blue;
      border: 1px solid #cbced9;

      @include vp-767 {
        height: 34px;
        font-size: 14px;
      }
    }

    input:nth-child(1n) {
      border-radius: 4px 0 0 4px;
      padding: 0 0 0 26px;

      @include hover-focus {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            z-index: 1;
            border: 1px solid #959bb2;
          }
        }
      }

      &:active {
        z-index: 1;
        border: 1px solid #161c35;
      }
    }

    input:nth-child(2n) {
      border-radius: 0 4px 4px 0;

      @include hover-focus {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            z-index: 1;
            border: 1px solid #959bb2;
          }
        }
      }

      &:active {
        z-index: 1;
        border: 1px solid #161c35;
      }
    }
  }

  .slider__range::after {
    content: "";
    position: absolute;
    height: 46px;
    width: 1px;
    background-color: #cbced9;
    left: 50%;

    @include vp-767 {
      height: 34px;
    }
  }

  .slider__range::before {
    content: "";
    position: absolute;
    height: 13px;
    width: 20px;
    background-color: #cbced9;
    border-top: 6px solid $color-default-white;
    border-bottom: 6px solid $color-default-white;
    left: calc(50% - 10px);
    top: 16px;
    z-index: 2;

    @include vp-767 {
      width: 16px;
      left: calc(50% - 8px);
      top: 10px;
    }
  }

  .thumb {
    height: 13px;
    width: 13px;
    background: $color-catalina-blue;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    transition: width $trans-default, height $trans-default, top $trans-default;

    @include vp-767 {
      height: 10px;
      width: 10px;
      top: -3px;
    }

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          height: 19px;
          width: 19px;
          top: -8px;
        }
      }
    }

    &:active {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
