@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.heading {
  margin: -2px 0 0;
  background-color: $color-midnight-express;
  border-radius: 0 0 55px 55px;
  position: relative;
  z-index: 10;
  min-height: 150px;

  @include vp-1023 {
    border-radius: 0 0 60px 60px;
  }

  @include vp-767 {
    border-radius: 0 0 20px 20px;
    min-height: 54px;
  }

  &__wrapper {
    padding: 122px 0 0 64px;

    @include vp-1023 {
      padding: 128px 0 0 35px;
    }

    @include vp-767 {
      padding: 47px 0 0 0;
    }
  }

  &__name {
    position: relative;
    display: inline-block;

    h1 {
      margin: 0;
      padding: 0 0 69px;

      font-weight: 700;
      font-size: 60px;
      line-height: 1;
      font-variant: all-small-caps;
      color: $color-default-white;

      @include vp-1023 {
        padding: 0 0 66px;
      }

      @include vp-767 {
        font-size: 36px;

        padding: 0 0 13px;
      }
    }

    h1:first-letter {
      text-transform: uppercase;
    }

    &::after {
      position: absolute;
      content: "";
      width: 92%;
      height: 8px;
      background-color: $color-picton-blue;
      border-radius: 4px;
      bottom: -4px;
    }
  }
}
