@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";

.route {
  background-color: $color-default-white;
  border-radius: 60px;
  padding: 101px 159px 106px 159px;

  @include vp-1439 {
    padding: 101px 59px 106px 59px;
    border-radius: 30px;
  }

  @include vp-1023 {
    padding: 48px 40px 54px 40px;
  }

  @include vp-767 {
    padding: 24px 25px 23px;
    border-radius: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 49px;

    @include vp-1439 {
      margin-bottom: 47px;
    }
  }

  .route__header {
    display: grid;
    grid-template-columns: 1fr 267px;
    grid-template-rows: auto;
    column-gap: 170px;
    margin-bottom: 62px;
    border-bottom: 1px solid #e1e3e9;
    padding-bottom: 0;
    min-width: 795px;

    @include vp-1023 {
      display: flex;
      min-width: 532px;
      margin-bottom: 42px;
      padding-bottom: 32px;
    }

    @include vp-767 {
      min-width: 220px;
      border-bottom: none;
      margin-bottom: 21px;
      padding-bottom: 0;
    }

    li:nth-child(2) {
      span {
        opacity: 1;
      }
    }

    li:nth-child(2):before {
      opacity: 1;
    }
  }

  .plan-list {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 88px;
    margin-top: 5px;

    @include vp-1439 {
      display: flex;
    }

    @include vp-1023 {
      display: none;
    }
  }

  .route__button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include vp-767 {
      position: absolute;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: #edeff6;
      right: -10px;
      top: -10px;

      svg {
        width: 13px;
        height: 13px;
      }
    }
  }

  .plan-item::before {
    left: -50px;
  }

  .route__letter-item {
    width: auto;
    height: auto;
  }
}

.route__btn-plus,
.route__btn-arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.route__btn-plus {
  transform: rotate(90deg);
}

.route__btn-arrow {
  svg path {
    fill: #cbCed9;
  }
}

.route__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 267px;
  row-gap: 15px;
  min-width: 795px;

  @include vp-1023 {
    grid-template-columns: 1fr 168px;
  }

  @include vp-1023 {
    min-width: 532px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 53px;
    min-width: 220px;
  }
}

.route__list::after {
  position: absolute;
  content: "";
  width: 1px;
  background-color: #e1e3e9;
  height: calc(100% + 150px);
  right: 225px;
  top: -63px;

  @include vp-1023 {
    right: 138px;
    height: calc(100% + 50px);
  }

  @include vp-767 {
    display: none;
  }
}

.route__title {
  margin: 0;
  margin-bottom: 33px;
  color: #1D2E5B;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  @include vp-1439 {
    margin-bottom: 70px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35px;
  }
}

.route__notion {
  margin: 0;
  font-size: 20px;
  line-height: 24px;

  @include vp-767 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 21px;
  }
}

.route__counties-list {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 32px;
}

.route__counties-list::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 68px);
  top: -32px;
  left: -34px;
  background-color: #d6d9e6;

  @include vp-1279 {
    left: -14px;
  }
}

.group-btn {
  display: flex;
  justify-content: space-between;
  min-width: 795px;
  column-gap: 20px;
  flex-wrap: wrap;

  @include vp-1023 {
    min-width: 532px;
  }

  @include vp-767 {
    min-width: 220px;
    flex-direction: column;
    align-items: center;
  }

  .route-btn {
    display: flex;
    align-items: center;
    padding: 29px 34px;
    justify-content: space-between;
    background-color: #A8D2F4;
    border-radius: 20px;
    width: 286px;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

    @include vp-767 {
      font-size: 17px;
      width: 100%;
      padding: 10px;
      justify-content: center;
      text-transform: uppercase;
      padding-top: 7px;
      padding-bottom: 5px;

      svg {
        display: none;
      }
    }

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: #4D99D6;
        }
      }
    }

    &:active {
      background-color: #4D99D6;

      span {
        opacity: 30%;
      }

      svg {
        opacity: 30%;
      }
    }

    span {
      font-size: 24px;
      font-weight: 700;
      color: #1D2E5B;
      line-height: 24px;
      max-width: 190px;

      @include vp-767 {
        font-size: 17px;
        line-height: 30px;
      }
    }
  }

  .btn-back {
    background-color: $color-default-white;
    width: 253px;
    margin-right: -20px;
    transition: opacity $trans-default, background-color $trans-default;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-default-white;
          opacity: 70%;
        }
      }
    }

    span {
      max-width: 160px;
    }

    &:active {
      background-color: $color-default-white;
      opacity: 30%;
    }

    svg {
      transform: rotate(180deg);
    }

    @include vp-767 {
      width: 100%;
      margin-right: 0;
    }
  }
}

.route__item,
.route__item-new {
  position: relative;
  border-radius: 0 0 4px 4px;

  cursor: pointer;

  h3 {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin: 0;
    padding-left: 13px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-catalina-blue;
    border: 1px solid #cbcEd9;
    border-radius: 4px;

    svg path {
      fill: #CCCCCC;
    }

    @include vp-767 {
      height: 42px;
      font-size: 14px;
      line-height: 18px;
      padding-left: 11px;
      padding-right: 16px;

      svg {
        width: 16px;
      }
    }

    .route__choose-country {
      display: none;
    }

    .route__btn-arrow {
      display: none;
    }
  }
}

.route__item {
  h3 {
    color: $color-catalina-blue;
    background-color: $color-solitude-blue;
    border: none;
    transition: background-color $trans-default;

    svg {
      color: $color-default-black;
      opacity: 0.2;
    }

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: #dfe3f0;

          svg {
            opacity: 0.3;
          }
        }
      }
    }

    &:active {
      svg {
        opacity: 0.1;
      }
    }
  }

  @include vp-767 {
    grid-column: 1/3;
  }
}

.route__item.active {
  position: relative;

  h3 {
    color: $color-default-white;
    background-color: $color-catalina-blue;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-catalina-blue;

          svg {
            opacity: 1;
          }
        }
      }
    }

    &:active {
      svg {
        opacity: 0.1;
      }
    }

    svg {
      width: 26px;
      height: 22px;
      color: $color-default-white;
      opacity: 0.3;
      transform: rotate(45deg);
      margin-left: -15px;
    }

    .route__add-country {
      display: none;
    }

    .route__btn-plus {
      display: none;
    }

    .route__choose-country {
      display: block;
    }

    .route__btn-arrow {
      display: block;

      svg path {
        fill: #cbCed9;
      }
    }
  }

  @include vp-1279 {
    position: relative;
  }
}

.route__item::after,
.route__item-new::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  right: -48px;
  top: 25px;
  z-index: 2;

  @include vp-1023 {
    right: -37px;
  }

  @include vp-767 {
    right: -3px;
    top: 15px;
    width: 8px;
    height: 8px;
  }
}

.route__item::after {
  border: 1px solid #cbCed9;
  background-color: #edeff6;

  @include vp-767 {
    right: 48px;
    top: 15px;
  }
}

.route__item-new::after {
  background-color: $color-catalina-blue;
}

.route__item.active::after {
  background-color: $color-default-white;

  @include vp-767 {
    right: 48px;
    top: 15px;
  }
}

.route__letters-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 14px;
  column-gap: 16px;
  max-height: 408px;
  max-width: 361px;
  margin-bottom: auto;
  margin: 0;
  padding: 26px 102px 32px 36px;
  font-size: 20px;
  line-height: 20px;

  @include vp-1279 {
    row-gap: 0;
    column-gap: 0;
    max-height: 346px;
    max-width: 262px;
  }
}

.route__letter-button {
  width: 58px;
  height: 68px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: $color-catalina-blue;
  border: 1px solid #cbced9;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color $trans-default, color $trans-default, border $trans-default;

  @include vp-1279 {
    border-radius: 0;
    width: 55px;
    height: 70px;
    margin-left: -1px;
    margin-bottom: -1px;
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        border: 1px solid #959bb2;

        span {
          opacity: 70%;
        }

        svg {
          opacity: 70%;
        }
      }

      &:active {
        background-color: $color-catalina-blue;
        color: $color-default-white;
      }
    }
  }
}

.route__counties-item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 12px;
}

.route__countries-wrapper {
  display: none;
  grid-template-columns: 1fr 215px;
  padding: 32px 26px 36px 26px;
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);

  @include vp-1279 {
    grid-template-columns: 1fr 195px;
    position: absolute;
    min-width: 575px;
    background-color: $color-default-white;
    z-index: 1;
  }
}

.route__item.active .route__countries-wrapper {
  position: absolute;
  display: grid;
  background-color: $color-default-white;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    min-width: 220px;
  }
}

.flag__holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 85px;

  @include vp-1023 {
    padding-left: 53px;
  }

  @include vp-767 {
    position: relative;
    padding: 7px;
    border: 1px solid #cbcEd9;
    border-radius: 4px;
    margin-left: -1px;
  }

  img {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    max-width: 70px;
    max-height: 47px;

    @include vp-767 {
      max-width: 35px;
      max-height: 24px;

    }
  }
}
