.plan {
  background-color: #AED0EB;
  border-radius: 55px 55px 0 0;
  padding-top: 55px;
  padding-bottom: 140px;

  @include vp-1439 {
    padding-bottom: 114px;
    border-radius: 30px 30px 0 0;
  }

  @include vp-1023 {
    border-radius: 30px 30px 0 0;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 67px;
  }

  .container-plan {
    padding: 0 60px;

    @include vp-1439 {
      padding: 0 75px;
    }

    @include vp-767 {
      padding: 0 25px;
    }
  }

  .header-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin-bottom: 54px;

    @include vp-767 {
      margin-bottom: 30px;
      justify-content: normal;
      column-gap: 27px;
    }
  }

  h2 {
    margin: 0;
    color: #1D2E5B;
    font-size: 36px;
    line-height: 36px;
    margin-left: 69px;
    margin-bottom: 54px;

    margin-bottom: 54px;

    @include vp-1439 {
      margin-left: 0;
    }

    @include vp-1023 {
      margin-bottom: 55px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 28px;
    }
  }

  .pagination-plan {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 29px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;

    @include vp-1439 {
      display: flex;
      column-gap: 28px;
    }

    @include vp-767 {
      column-gap: 16px;
    }

    li {
      background-color: #1D2E5B;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      opacity: 30%;
    }

    li:first-child {
      opacity: 1;
    }
  }


  .plan-step {
    display: flex;
    flex-direction: column;
    row-gap: 44px;

    @include vp-767 {
      row-gap: 10px;
    }
  }

  .plan-item {
    span {
      font-weight: 400;
      color: $color-default-black;
    }
  }
}
