@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";


.route__counties-item:not(:first-child) {
  display: none;
}

.route {
  background-color: $color-default-white;
  border-radius: 60px;
  padding: 101px 152px 106px 159px;


  .route__header {
    display: grid;
    grid-template-columns: 660px 1fr;
    grid-template-rows: auto;
    column-gap: 170px;
    margin-bottom: 480px;
    border-bottom: 1px solid #E1E3E9;
    padding-bottom: 55px;
  }

  h3 {
    margin: 0;
    margin-bottom: 33px;
    color: #1D2E5B;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }

  p {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .route-btn {
    display: flex;
    align-items: center;
    padding: 29px 34px;
    column-gap: 14px;
    background-color: #A8D2F4;
    border-radius: 20px;
    width: 289px;
    margin-top: 30px;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: #4D99D6;
        }
      }
    }

    &:active {
      background-color: #4D99D6;

      span {
        opacity: 30%;
      }

      svg {
        opacity: 30%;
      }
    }
  }

  span {
    font-size: 24px;
    font-weight: 700;
    color: #1D2E5B;
    line-height: 24px;
  }

  li:nth-child(2) {
    span {
      opacity: 1;
    }
  }
}


