@import "../../../global/reboot.scss";
@import "../../../global/utils.scss";
@import "../../../variables.scss";



.route {
    display: grid;
    grid-template-columns: 1fr 220px;

    .plan-list {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.route__header {    
    display: grid;
    grid-template-columns: 1fr 220px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.route__title {
    grid-column: 1/2;
    grid-row: 1/2;
}

.route__notion {
    grid-column: 1/2;
    grid-row: 2/3;
}

.route__counties-list {
    display: none;
}

